
@{
    ViewData["Title"] = "EditText";
}
@{
}
@model TextHeaderBodyUserRecord


<form class="editor-view-wrapper" action="EditText" method="post" id="edit">
    <input type="hidden" name="TextHeader.TextHeaderId" value="@Model.TextHeader.TextHeaderId" />
    <input type="hidden" name="TextHeader.TextId" value="@Model.TextHeader.TextId" />
    <input type="hidden" name="TextHeader.Created" value="@Model.TextHeader.Created" />
    <input type="hidden" name="TextHeader.CreatedBy" value="@Model.TextHeader.CreatedBy" />
    <input type="hidden" name="TextHeader.LastModified" value="@Model.TextHeader.LastModified" />
    <input type="hidden" name="TextHeader.LastModifiedBy" value="@Model.TextHeader.LastModifiedBy" />
    <input type="hidden" name="TextHeader.LastRead" value="@Model.TextHeader.LastRead" />
    <input type="hidden" name="TextHeader.LastReadBy" value="@Model.TextHeader.LastReadBy" />
    <input type="hidden" name="TextHeader.VisionNumber" value="@Model.TextHeader.VisionNumber" />
    <input type="hidden" name="TextHeader.VersionOf" value="@Model.TextHeader.VersionOf" />
    
    <input type="hidden" name="User.UserId" value="@Model.User.UserId" />
    <input type="hidden" name="User.UserName" value="@Model.User.UserName" />
    <input type="hidden" name="User.AspNetUserId" value="@Model.User.AspNetUserId" />

    <input type="hidden" name="Text.TextId" value="@Model.Text.TextId" />
    <input type="hidden" name="Text.Created" value="@Model.Text.Created" />

    <input type="hidden" name="EditWindowProperty.CursorPosition" id="cursor_position" value="@Model.EditWindowProperty.CursorPosition" />
    <input type="hidden" name="EditWindowProperty.ActiveElement" id="form_focus" value="@Model.EditWindowProperty.ActiveElement" />
    <input type="hidden" name="EditWindowProperty.ShowLineCount" id="show_line_count" value="@Model.EditWindowProperty.ShowLineCount" />
    <input type="hidden" name="EditWindowProperty.ShowParagraphCount" id="show_paragraph_count" value="@Model.EditWindowProperty.ShowParagraphCount" />
    <input type="hidden" name="EditWindowProperty.UserID" value="@Model.User.UserId" />
    <input type="hidden" name="EditWindowProperty.TextHeaderID" value="@Model.TextHeader.TextHeaderId" />

    <div class="menu-bar">


        <div class="menu-bar-main mobile-menu-bar-main">
            <div class="menu-bar-title menu-bar-title-mobile">
                Editing:
            </div>
            <div class="menu-bar-item menu-bar-item-mobileHide">
                Status:
            </div>
            <div class="menu-bar-item">
                <select name="TextHeader.TextRevisionStatusID" id="revision_status">
                    @foreach (var revisionStatus in Model.AllRevisionStatuses)
                    {
                        if (revisionStatus.TextRevisionStatusId == @Model.TextHeader.TextRevisionStatusId)
                        {
                            <option value="@revisionStatus.TextRevisionStatusId" selected>@revisionStatus.TextRevisionStatus1</option>
                        }
                        else
                        {
                            <option value="@revisionStatus.TextRevisionStatusId">@revisionStatus.TextRevisionStatus1</option>
                        }
                    }
                </select>
            </div>

            <div class="menu-bar-dropdown menu-bar-dropdown-mobile">
                <div class="button menu-bar-button-dropdown">
                    View ▼
                </div>
                <div class="menu-bar-dropdown-content">
                    <a class="menu-bar-dropdown-item" onclick="toggle_hide_element('show_line_count', this.id, 'line_count')" id="toggle_line_count">? Line Count</a>
                    <a class="menu-bar-dropdown-item" onclick="toggle_hide_element('show_paragraph_count', this.id, 'paragraph_count')" id="toggle_paragraph_count">? Stanza Count</a>
                </div>

            </div>
        </div>

@*        <div class="mobile-menu-bar-main">

                <div class="menu-bar-title">
                    Editing: 
                </div>
                <div class="menu-bar-item">
                    <input type="submit" name="action" class="button menu-bar-button" value="Revision" id="save" />

                </div>
                <div class="menu-bar-item">
                
                  <div class="menu-bar-dropdown-item">
                        <select name="TextHeader.TextRevisionStatusID" id="revision_status">
                            @foreach (var revisionStatus in Model.AllRevisionStatuses)
                            {
                                if (revisionStatus.TextRevisionStatusId == @Model.TextHeader.TextRevisionStatusId)
                                {
                                    <option value="@revisionStatus.TextRevisionStatusId" selected>@revisionStatus.TextRevisionStatus1</option>
                                }
                                else
                                {
                                    <option value="@revisionStatus.TextRevisionStatusId">@revisionStatus.TextRevisionStatus1</option>
                                }
                            }
                        </select>
                    </div>
                </div>*@
                @*<div class="menu-bar-dropdown-content">
                    <input type="submit" name="action" class="menu-bar-dropdown-item" value="Revision" id="save" />
                    <div class="menu-bar-dropdown-item">
                        <select name="TextHeader.TextRevisionStatusID" id="revision_status">
                            @foreach (var revisionStatus in Model.AllRevisionStatuses)
                            {
                                if (revisionStatus.TextRevisionStatusId == @Model.TextHeader.TextRevisionStatusId)
                                {
                                    <option value="@revisionStatus.TextRevisionStatusId" selected>@revisionStatus.TextRevisionStatus1</option>
                                }
                                else
                                {
                                    <option value="@revisionStatus.TextRevisionStatusId">@revisionStatus.TextRevisionStatus1</option>
                                }
                            }
                        </select>
                    </div>
                </div>*@
            
@*        </div>*@

        <div class="menu-bar-escape mobile-menu-bar-escape">
            <div class="menu-bar-item">
                <input type="submit" name="action" class="button menu-bar-button mobile-menu-bar-button-return" value="Return" />
            </div>
            <div class="menu-bar-item">
                <input type="submit" name="action" class="button menu-bar-button mobile-menu-bar-button-save" value="Save" id="save" />
            </div>
            <div class="menu-bar-item-right-final">
                <input type="submit" name="action" class="button menu-bar-button mobile-menu-bar-button-revision" value="Revision" id="save" />
            </div>
        </div>

@*        <div class="mobile-menu-bar-escape">
            <div class="menu-bar-item">
                <input type="submit" name="action" class="button mobile-menu-bar-button-save" value="Save" id="save" />
            </div>
            <div class="menu-bar-item">
                <input type="submit" name="action" class="button mobile-menu-bar-button-return" value="Return" />
            </div>
        </div>*@
    </div>

    <div class="title-bar">
        <textarea name="TextHeader.Title" class="title-box" id="title_edit_field">@Model.TextHeader.Title</textarea>
    </div>

    <div class="editor-container">
        <textarea name="Text.TextBody" class="editor-box" id="body_edit_field" onscroll="sync_scroll()">@Model.Text.TextBody</textarea>
    </div>
    <div class="ruler-container-a">
        <textarea class="ruler-box ruler-box-b" id="paragraph_count" name="paragraph_count" readonly></textarea>
    </div>
    <div class="ruler-container-b">
        <textarea class="ruler-box" id="line_count" name="line_count" readonly></textarea>
    </div>

    <div class="left-sidebar">
        <div class="left-sidebar-item-heading">@Model.TextHeader.Title</div>
        <div class="left-sidebar-item">Vision No. @Model.TextHeader.VisionNumber</div>
        @if (Model.PreviousTexts.Count() > 0)
        {
            <div class="left-sidebar-item">Previous visions:</div>
            foreach (var prev in Model.PreviousTexts)
            {

                <div class="left-sidebar-item-heading">No. @prev.VisionNumber: <a href="#" data-drawer-trigger aria-controls="@prev.VisionNumber" aria-expanded="false">@prev.Title</a></div>
                <div class="left-sidebar-item">Status: @prev.Status</div>
                <div class="left-sidebar-item">Created @prev.Created.Value.ToString("d") by @prev.CreatedBy</div>
                <div class="left-sidebar-item">Last Modified @prev.LastModified.Value.ToString("d") by @prev.LastModifiedBy</div>
            }
        }
    </div>

    <div class="right-sidebar">
        <div class="right-sidebar-item-heading">Last Modified @Model.TextHeader.LastModified.Value.ToString("d")</div>
        <div class="right-sidebar-item">by @Model.LastModifiedByUser.UserName</div>
        <div class="right-sidebar-item-heading">Created @Model.TextHeader.Created.Value.ToString("d")</div>
        <div class="right-sidebar-item">by @Model.CreatedByUser.UserName</div>
    </div>





</form>

@* Populate Drawers *@
@foreach (var prev in Model.PreviousTexts)
{
    <section class="drawer drawer--left" id="@prev.VisionNumber" data-drawer-target>
        <div class="drawer__wrapper">
            <div class="drawer__header">
                <div class="drawer__title">
                    @prev.Title (Vision No.: @prev.VisionNumber)
                </div>
                <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
            </div>
            <textarea class="drawer__content">
                @prev.TextBody
            </textarea>
        </div>
    </section>
}

<div id="textWidthSample" class="text-sample" z-axis="9998" hidden>X</div>


<script language="Javascript" src="~/js/autosave.js"></script>
<script language="Javascript" src="~/js/site.js"></script>
<script language="Javascript" src="~/js/editor.js"></script>
<br />







