@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DisplayBinder
<div class="menu-bar-main">
    <div class="menu-bar-title">
        Edit Binder: @Model.Name: 
    </div>
</div>

<h1>@Model.Name:</h1>
<ul>
<li>Created: @Model.Created</li>
<li>Created By: @Model.CreatedBy</li>
<li>Last Modified: @Model.LastModified</li>
<li>Last Modified By: @Model.LastModifiedBy</li>
<li>Number of Pages: @Model.PageCount </li>
<li>Number of Groups: @Model.GroupCount</li>
</ul>
<form action="CreateBinder" method="post">
    Binder Name:
    <input type="text" name="Name" placeholder="@Model.Name" />
    Description:
    <input type="text" name="Desription" placeholder="@Model.Description"/>
    <input type="hidden" name="BinderId" value="@Model.BinderId" />
    <input type="submit" name="action" class="button" value="Edit" id="bttn_sub" />
    <hr />
    <p>
    Clear Binder: <i>This will remove all groups and pages from the binder. Pages will appear in 'Loose Pages' Binder.</i>
    <input type="submit" name="action" class="button" value="Clear" id="bttn_sub" />
    </p>
    <p>
    Delete Binder: <i>This will remove this binder. Pages will appear in 'Loose Pages' Binder.</i>
    <input type="submit" name="action" class="button" value="Delete" id="bttn_sub" />
    </p>
    <p>
    Delete Binder and all Contents: <i>This will remove this binder AND delete all pages!</i>
    <input type="submit" name="action" class="button" value="DeleteAll" id="bttn_sub" />
    </p>

</form>