
@{
    ViewData["Title"] = "EditText";
}
@{
}
@model TextHeaderBodyUserRecord


<form class="wrapper" action="EditText" method="post" id="edit">
    <input type="hidden" name="TextHeader.TextHeaderId" value="@Model.TextHeader.TextHeaderId" />
    <input type="hidden" name="TextHeader.TextGroupId" value="@Model.TextHeader.TextGroupId" />
    <input type="hidden" name="TextHeader.TextId" value="@Model.TextHeader.TextId" />
    <input type="hidden" name="TextHeader.Created" value="@Model.TextHeader.Created" />
    <input type="hidden" name="TextHeader.CreatedBy" value="@Model.TextHeader.CreatedBy" />
    <input type="hidden" name="TextHeader.LastModified" value="@Model.TextHeader.LastModified" />
    <input type="hidden" name="TextHeader.LastModifiedBy" value="@Model.TextHeader.LastModifiedBy" />
    <input type="hidden" name="TextHeader.LastRead" value="@Model.TextHeader.LastRead" />
    <input type="hidden" name="TextHeader.LastReadBy" value="@Model.TextHeader.LastReadBy" />
    <input type="hidden" name="TextHeader.VisionNumber" value="@Model.TextHeader.VisionNumber" />
    <input type="hidden" name="TextHeader.VersionOf" value="@Model.TextHeader.VersionOf" />
    <input type="hidden" name="User.UserId" value="@Model.User.UserId" />
    <input type="hidden" name="User.UserName" value="@Model.User.UserName" />
    <input type="hidden" name="User.AspNetUserId" value="@Model.User.AspNetUserId" />
    <input type="hidden" name="Text.TextId" value="@Model.Text.TextId" />
    <input type="hidden" name="Text.Created" value="@Model.Text.Created" />
    <input type="hidden" name="EditWindowProperty.CursorPosition" id="cursor_position" />
    <input type="hidden" name="EditWindowProperty.TextAreaFocus" id="form_focus" value="1"/>



    <div class="a font-control-header" id="test">
        Editing:
    </div>
    <div class="b font-weight-bold">
        @Model.TextHeader.Title
    </div>

    <div class="z title-box">
        <textarea name="TextHeader.Title" rows="1" cols="100" id="title_edit_field">@Model.TextHeader.Title</textarea>
    </div>
    <div class="e font-control-label">
        Revision Status:
    </div>


    <div class="f">
        <select name="TextHeader.TextRevisionStatusID" id="revision_status">
            @foreach (var revisionStatus in Model.AllRevisionStatuses)
            {
                if (revisionStatus.TextRevisionStatusId == @Model.TextHeader.TextRevisionStatusId)
                {
                    <option value="@revisionStatus.TextRevisionStatusId" selected>@revisionStatus.TextRevisionStatus1</option>
                }
                else
                {
                    <option value="@revisionStatus.TextRevisionStatusId">@revisionStatus.TextRevisionStatus1</option>
                }
            }
        </select>
    </div>

    <div class="c">
        <input type="submit" name="action" value="Save and Exit" />
    </div>
    <div class="d">
        <input type="submit" name="action" value="Save" id="save" />
    </div>

    <div class="y editor">
        <textarea name="Text.TextBody" rows="30" cols="100" id="body_edit_field">@Model.Text.TextBody</textarea>
    </div>

</form>

<div id="prev_cursor_position_value">@Model.EditWindowProperty.CursorPosition</div>

<script language="Javascript" src="~/js/autosave.js"></script>

<br />




@*@if (Model.PreviousTexts.Count() > 0)
    {
        <h3>Previous visions:</h3>
        foreach (var prev in Model.PreviousTexts)
        {
            <div class="editor-container">
            <b><p>Vision @prev.VisionNumber: @prev.Title</p></b>
            <p>Created @prev.Created by @prev.CreatedBy</p>
            <p>Last Modified @prev.LastModified by @prev.LastModifiedBy</p>
            <p>@prev.TextBody</p>
            </div>
        }
    }*@


