@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RhymeBinder.Models.ViewModels.DisplayBinder
@{
    if (string.IsNullOrWhiteSpace(Model.Color))
    {
        Model.Color = "#8B0000";
    }
}
<script language="Javascript" src="~/js/site.js"></script>
<div class="view-wrapper">

    <form action="EditBinder" method="post" class="form-wrapper">
        <div class="menu-bar">
            <div class="menu-bar-main mobile-menu-bar-main">
                <div class="menu-bar-title menu-bar-title-mobile">
                    Edit Binder: @Model.Name:
                </div>

                <div class="menu-bar-dropdown menu-bar-dropdown-mobile">
                    <div class="button menu-bar-button-dropdown">
                        Actions ▼
                    </div>
                    <div class="menu-bar-dropdown-content">
                        <a class="menu-bar-dropdown-item" onclick="open_modal_with_Id('duplicate')">Duplicate</a>
                        <a class="menu-bar-dropdown-item" onclick="open_modal_with_Id('clear')">Clear</a>
                        <a class="menu-bar-dropdown-item" onclick="open_modal_with_Id('delete')">Delete Binder</a>
                        <a class="menu-bar-dropdown-item" onclick="open_modal_with_Id('deleteAll')">Delete Binder and Contents</a>
                    </div>

                </div>
            </div>


            <div class="menu-bar-escape mobile-menu-bar-escape">
                <div class="menu-bar-item">
                    <a href="/RhymeBinder/ListBinders" class="button menu-bar-button">Return</a>
                </div>
                <div class="menu-bar-item-right-final">
                    <input type="submit" name="action" class="button menu-bar-button" value="Submit Changes" />
                </div>
            </div>


        </div>



        <input type="hidden" name="BinderId" value="@Model.BinderId" />
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="hidden" name="Created" value="@Model.Created" />
        <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
        <input type="hidden" name="LastModified" value="@Model.LastModified" />
        <input type="hidden" name="LastModifiedBy" value="@Model.LastModifiedBy" />
        <input type="hidden" name="Hidden" value="@Model.Hidden.ToString()" />
        <input type="hidden" name="Selected" value="@Model.Selected.ToString()" />
        <input type="hidden" name="LastAccessed" value="@Model.LastAccessed" />
        <input type="hidden" name="LastAccessedBy" value="@Model.LastAccessedBy" />
        
    
        <div class="form-item-title">
            Binder Name:
        </div>
        <div class="form-item-large-entry">
            <textarea name="Name" class="form-single-line-box">@Model.Name</textarea>
        </div>

        <div class="form-item-title">
            Description:
        </div>
        <div class="form-item-large-entry">
            <textarea name="Description" class="form-multi-line-box">@Model.Description</textarea>
        </div>
        <div class="form-item-title">
            New Text Default Title:
        </div>
        <div class="form-item-large-entry">
            <textarea name="TextHeaderTitleDefaultFormat" class="form-single-line-box">@Model.TextHeaderTitleDefaultFormat</textarea>
        </div>
        <div class="form-item-descriptor-large">
            <ul>
                <li>[DATE TIME] - for current date and time</li>
                <li>[TIME] - for current time</li>
                <li>[DATE] - for current date</li>
                <li>[NUMBER] - for latest number (based on active texts in binder - removing texts could cause duplicates)</li>
            </ul>
            Example: a value of 
            <ul>
                <li>
                     <b>Dear Diary, it's [TIME] o'clock on [DATE]</b>
                </li>
            </ul>
            would mean each new text in that binder would have a default title of 
            <ul>
                <li>
                    <b>Dear Diary, it's 8:44:10 AM o'clock on 3/24/2020</b> 
                </li>
            </ul>
            ...with the current date and time, of course.
        </div>
        <div class="form-item-title">
            Binder Color
        </div>
        <div class="form-item-large-entry">
            <input type="color" id="Color" name="Color" value="@Model.Color">
        </div>
        <div class="form-item-title">
            Lock Binder to Read Only
        </div>
        <div class="form-item-large-entry">
            @Html.EditorFor(m => m.ReadOnly)
        </div>
        <div class="form-item-title">
            New Texts Show Line Count:
        </div>
        <div class="form-item-large-entry">
            @Html.EditorFor(m => m.NewTextDefaultShowLineCount)
        </div>
        <div class="form-item-title">
            New Texts Show Paragraph Count:
        </div>
        <div class="form-item-large-entry">
            @Html.EditorFor(m => m.NewTextDefaultShowParagraphCount)
        </div>


        <div class="form-divider"><hr /></div>

        <div class="form-item-title">
            Created:
        </div>
        <div class="form-item-descriptor-one">
            @Model.Created
        </div>
        <div class="form-item-title">
            Last Edited:
        </div>
        <div class="form-item-descriptor-one">
            @Model.LastModified
        </div>
        <div class="form-item-title">
            Number of Texts:
        </div>
        <div class="form-item-descriptor-one">
            @Model.PageCount
        </div>
        <div class="form-item-title">
            Number of Groups:
        </div>
        <div class="form-item-descriptor-one">
            @Model.GroupCount
        </div>

        <div class="form-divider"><hr /></div>


        <div class="dialog-modal" id="duplicate">
            <div class="dialog-modal-header">
                Duplicate Binder:
            </div>

            <div class="dialog-modal-content">
                <div class="dialog-modal-content-item-heading">
                    Create a copy of this binder, including all texts and groups contained within.
                </div>

                <div class="dialog-modal-content-item-warn-confirm">
                    Yes, I want to duplicate this binder: <input type="checkbox" id="confirmDuplicateCheckbox" name="verifyDuplicate" onclick="set_modal_submit_button_availability(this.id, 'duplicateSubmitButton')" />
                </div>
            </div>

            <div class="dialog-modal-footer">
                <a class="menu-bar-button" onclick="close_modal_with_id('duplicate')">Cancel</a>
                <input type="submit" class="menu-bar-button" name="action" id="duplicateSubmitButton" value="Duplicate" disabled />
            </div>
        </div>


        <div class="dialog-modal" id="clear">
            <div class="dialog-modal-header">
                Clear Binder:
            </div>

            <div class="dialog-modal-content">
                <div class="dialog-modal-content-item-heading">
                    Clear this binder - all texts contained within will appear in the 'Loose Pages' binder. Groups will be deleted.
                </div>
                <div class="dialog-modal-content-item-warn">
                    This can not be undone!
                </div>
                <div class="dialog-modal-content-item">
                    Check the box below confirming you would like to clear this binder:
                </div>
                <div class="dialog-modal-content-item">
                </div>
                <div class="dialog-modal-content-item-warn-confirm">
                    Yes, I want to clear this binder: <input type="checkbox" id="confirmClearCheckbox" name="verifyClear" onclick="set_modal_submit_button_availability(this.id, 'clearSubmitButton')" />
                </div>
            </div>

            <div class="dialog-modal-footer">
                <a class="menu-bar-button" onclick="close_modal_with_id('clear')">Cancel</a>
                <input type="submit" name="action" class="menu-bar-button" id="clearSubmitButton" value="Clear" disabled />
            </div>
        </div>

        <div class="dialog-modal" id="delete">
            <div class="dialog-modal-header">
                Delete Binder:
            </div>

            <div class="dialog-modal-content">
                <div class="dialog-modal-content-item-heading">
                    Delete this binder - all texts contained within will appear in the 'Loose Pages' binder. Groups will be deleted.
                </div>
                <div class="dialog-modal-content-item-warn">
                    This can not be undone!
                </div>
                <div class="dialog-modal-content-item">
                    Check the box below confirming you would like to delete this binder:
                </div>
                <div class="dialog-modal-content-item">
                </div>
                <div class="dialog-modal-content-item-warn-confirm">
                    Yes, I want to delete this binder: <input type="checkbox" id="confirmDeleteCheckbox" name="verifyDelete" onclick="set_modal_submit_button_availability(this.id, 'deleteSubmitButton')" />
                </div>
            </div>

            <div class="dialog-modal-footer">
                <a class="menu-bar-button" onclick="close_modal_with_id('delete')">Cancel</a>
                <input type="submit" name="action" class="menu-bar-button" id="deleteSubmitButton" value="Delete" disabled/>
            </div>
        </div>

        <div class="dialog-modal" id="deleteAll">
            <div class="dialog-modal-header">
                Delete Binder and Texts:
            </div>

            <div class="dialog-modal-content">
                <div class="dialog-modal-content-item-heading">
                    Delete this binder as well as all texts within.
                </div>
                <div class="dialog-modal-content-item-warn">
                    This can
                    not be undone!
                </div>
                <div class="dialog-modal-content-item">
                    Check the box below confirming you would like to delete both this binder and all contained texts:
                </div>
                <div class="dialog-modal-content-item">
                </div>
                <div class="dialog-modal-content-item-warn-confirm">
                    Yes, I want to delete this binder and all contents within: <input type="checkbox" id="confirmDeleteAllCheckbox" name="verifyDeleteAll" onclick="set_modal_submit_button_availability(this.id, 'deleteAllSubmit')" />
                </div>
            </div>

            <div class="dialog-modal-footer">
                <a class="menu-bar-button" onclick="close_modal_with_id('deleteAll')">Cancel</a>
                <input type="submit" name="action" class="menu-bar-button" id="deleteAllSubmit" value="Delete All" disabled/>

            </div>
        </div>

    </form>
</div>

