
@{
    ViewData["Title"] = "Manage Binder: Groups: Edit Group:";
}
@model RhymeBinder.Models.DBModels.TextGroup

<div class="view-wrapper">

    <div class="menu-bar">
        <div class="menu-bar-main mobile-menu-bar-main">
            <div class="menu-bar-title menu-bar-title-mobile" >
                Edit Group: @Model.GroupTitle
            </div>
        </div>
    </div>



    <form action="EditGroup" method="post" class="form-wrapper">
        <input type="hidden" name="TextGroupId" value="@Model.TextGroupId"/>
        <input type="hidden" name="BinderId" value="@Model.BinderId"/>
        <input type="hidden" name="OwnerId" value="@Model.OwnerId"/>
        <input type="hidden" name="SavedViewId" value="@Model.SavedViewId"/>

        <div class="form-item-title">
            Name:
        </div>
        <div class="form-item-large-entry">
            <textarea name="GroupTitle" class="form-single-line-box">@Model.GroupTitle</textarea> 
        </div>

        <div class="form-item-title">
            Notes:
        </div>
        <div class="form-item-large-entry">
            <textarea name="Notes" class="form-multi-line-box">@Model.Notes</textarea> 
        </div>

        <div class="form-item-title">
            Locked:
        </div>
        <div class="form-item-descriptor-one">
            Prevents addition and removal of texts while group set to locked.
        </div>
        <div class="form-item-descriptor-two">
            <input id="Locked" name="Locked" type="checkbox" asp-for=@Model.Locked/>
        </div>

        <div class="form-item-descriptor-two">
            <input type="submit" name="action" class="button" value="Submit Changes"/>
        </div>

        <div class="form-divider"><hr /></div>

        <div class="form-item-title">
            Clear Group:
        </div>
        <div class="form-item-descriptor-one">
            Remove all associated texts from this group.
        </div>
        <div class="form-item-descriptor-two">
            <input type="submit" name="action" class="button" value="Clear" />
        </div>
        <div class="form-item-verify-prompt">
            Are you sure?
        </div>
        <div class="form-item-far-right-entry">
            <input type="checkbox" name="verifyClear" />
        </div>

        <div class="form-item-title">
            Delete Group:
        </div>
        <div class="form-item-descriptor-one">
            Delete this group. Texts will remain in the binder as they are.
        </div>
        <div class="form-item-descriptor-two">
            <input type="submit" name="action" class="button" value="Delete Group" />
        </div>
        <div class="form-item-verify-prompt">
            Are you sure?
        </div>
        <div class="form-item-far-right-entry">
            <input type="checkbox" name="verifyDeleteGroup" />
        </div>

    </form>
</div>



    



