@{ 
    ViewData["Title"] = "ListTexts";
}

@{
}
@model List<DisplayTextHeader>

<h2>Compositions:</h2>

<table class="table table-responsive">
    <tr>
        <th><a href="/RhymeBinder/ChangeListDisplay?change=title">Title</a></th>
        <th><a href="/RhymeBinder/ChangeListDisplay?change=lastModified">Last Modified</a></th>
        <th><a href="/RhymeBinder/ChangeListDisplay?change=lastModifiedBy">Last Modified By</a></th>
        <th>Created</th>
        <th>Created By</th>
        <th>Vision Number</th>
        <th>Revision Status</th>
    </tr>

    @foreach(var text in Model)
    {
        <tr>
            <td><a href="/RhymeBinder/ReadText?textHeaderID=@text.TextHeaderId">@text.Title</a></td>
            <td>@text.LastModified</td>
            <td>@text.ModifyByName</td>
            <td>@text.Created</td>
            <td>@text.CreatedByName</td>
            <td>@text.VisionNumber</td>
            <th>@text.RevisionStatus</th>
 
        </tr>
        
    }

</table>
