@{ 
    ViewData["Title"] = "ListTexts";
}

@{
}
@model List<DisplayTextHeader>

<div class="table-view-wrapper">
<div class="list-texts-menu-bar-main">
    <div class="menu-bar-title">
        Your Binder:
    </div>
</div>
    <div class="table-view-table-container">
    <table>
    <tr>
        <th><a href="/RhymeBinder/ChangeListDisplay?change=title">Title</a></th>
        <th><a href="/RhymeBinder/ChangeListDisplay?change=lastModified">Last Modified</a></th>
        <th><a href="/RhymeBinder/ChangeListDisplay?change=lastModifiedBy">Last Modified By</a></th>
        <th><a href="/RhymeBinder/ChangeListDisplay?change=created">Created</a></th>
        <th><a href="/RhymeBinder/ChangeListDisplay?change=createdBy">Created By</a></th>
        <th><a href="/RhymeBinder/ChangeListDisplay?change=visionNumber">Vision Number</a></th>
        <th><a href="/RhymeBinder/ChangeListDisplay?change=revision">Revision Status</a></th>
    </tr>

    @foreach(var text in Model)
    {
        <tr>
            <td><a href="/RhymeBinder/EditText?textHeaderID=@text.TextHeaderId">@text.Title</a></td>
            <td>@text.LastModified</td>
            <td>@text.ModifyByName</td>
            <td>@text.Created</td>
            <td>@text.CreatedByName</td>
            <td>@text.VisionNumber</td>
            <td>@text.RevisionStatus</td> 
        </tr>
        
    }

</table>
</div>
</div>
