@{
    ViewData["Title"] = "RhymeBinder: List Binders";
}

@{
}
@model List<DisplayBinder>



    <div class="table-view-wrapper">
        <div class="list-texts-menu-bar-main">
            <div class="menu-bar-title" id="menu_bar_title">
                Your Binders:
            </div>

            <div class="menu-bar-dropdown">
                <div class="menu-bar-button-dropdown">
                    Actions ▼
                </div>
                <div class="menu-bar-dropdown-content">
                    <a class="menu-bar-dropdown-item" href="/RhymeBinder/CreateBinder">New Binder</a>
                 </div>
            </div>
        </div>

        <div class="table-view-table-container">
            <table>
                <tr>
                    <th name="selected_col" id="Selected" align="center">Current</th>
                    <th></th>
                    <th name="name_col" id="Name" align="center"><a>Name</a></th>
                    <th name="text_count_col" id="Text Count" align="center"><a>Text Count</a></th>
                    <th name="group_count_col" id="Group Count" align="center"><a>Group Count</a></th>
                    <th align="center"><a>Word Count</a></th>
                    <th align="center"><a>Character Count</a></th>
                    <th align="center"><a>Last Read</a></th>
                    <th align="center"><a>Last Read By</a></th>
                    <th align="center"><a>Last Worked In</a></th>
                    <th align="center"><a>Last Worked In By</a></th>
                    <th name="last_modified_col" id="Last Modified" align="center"><a>Last Modified</a></th>
                    <th name="last_modified_by_col" id="Last Modified By" align="center" ><a>Last Modified By</a></th>
                    <th name="created_col" id="Created" align="center"><a>Created</a></th>
                    <th name="created_by_col" id="Created By" align="center"><a>Created By</a></th>
                    <th name="description_col" id="Description" align="center"><a>Description</a></th>
                </tr>

                @foreach (var binder in Model)
                {

                <tr>

                    @if (binder.Name != "Trash" && binder.Name != "Loose Pages")
                    {
                        @if (binder.Selected == true)
                            {
                                <td><a href="/RhymeBinder/EditBinder?binderID=@binder.BinderId">Manage </a>
                                    ► 
                                </td>
                            }
                            else{
                                <td><a href="/RhymeBinder/EditBinder?binderID=@binder.BinderId">Manage </a>

                                </td>
                        }

                    }
                    else
                    {
                        <td></td>
                    }
                    <td></td>

                        <td><a class="link-item" href="/RhymeBinder/OpenBinder?binderID=@binder.BinderId">@binder.Name</a></td>
                        <td name="text_count_col" align="center">@binder.PageCount.ToString("N0")</td>
                        <td name="group_count_col" align="center">@binder.GroupCount.ToString("N0")</td>
                        <td align="center">@binder.WordCount.ToString("N0")</td>
                        <td align="center">@binder.CharacterCount.ToString("N0")</td>
                        <td align="center">@binder.LastAccessed</td>
                        <td align="center">@binder.LastAccessedByName</td>
                        <td align="center">@binder.LastWorkedIn</td>
                        <td align="center">@binder.WorkedInName</td>
                        <td name="last_modified_col "align="center">@binder.LastModified</td>
                        <td name="last_modified_by_col" align="center">@binder.ModifyByName</td>
                        <td name="created_col" align="center">@binder.Created</td>
                        <td name="created_by_col" align="center">@binder.CreatedByName</td>
                        <td name="description_col">@binder.Description</td>
                    </tr>
                }

            </table>
        </div>
    </div>


