
@{
    ViewData["Title"] = "ReadText";
}
@{
}
@model TextHeaderBodyUserRecord

<h2>Reading text: </h2>
<h3>@Model.TextHeader.Title</h3>

<i>Last Modified by @Model.User.UserName on @Model.TextHeader.LastModified</i>
<i>Last Viewed by @Model.User.UserName on @Model.TextHeader.LastRead</i>

<i>A cool button section or something:</i>
<ul>
    <li><a href="/RhymeBinder/EditText?textHeaderID=@Model.TextHeader.TextHeaderId">Link to edit it</a></li>
    <li><a href="/RhymeBinder/AddRevision?textHeaderID=@Model.TextHeader.TextHeaderId">Create a revision</a></li>
    <li><a href="/RhymeBinder/HideHeader?textHeaderID=@Model.TextHeader.TextHeaderId">Delete</a></li>
    <li>Something related to submissions</li>
    <li>Something related to statuses</li>
    <li><a href="/RhymeBinder/ListTexts?userID=@Model.User.UserId">Return to the list</a></li>
</ul>

<blockquote>
    @Model.Text.TextBody
</blockquote>