
@{
    ViewData["Title"] = "ReadText";
}
@{
}
@model TextHeaderBodyUserRecord

<div class="wrapper">

<div class="a font-control-header">
    Reading:
</div>

<div class="b font-weight-bold">
    @Model.TextHeader.Title
</div>

<div class="d">
    <button onclick="window.location.href = '/RhymeBinder/EditText?textHeaderID=@Model.TextHeader.TextHeaderId';">
        Edit
    </button>
</div>
<div class="e">
    <button onclick="window.location.href = '/RhymeBinder/HideHeader?textHeaderID=@Model.TextHeader.TextHeaderId';">
        Delete
    </button>
</div>
<div class="f">
    <button onclick="window.location.href = '/RhymeBinder/AddRevision?textHeaderID=@Model.TextHeader.TextHeaderId';">
        Re-vision
    </button>
</div>

<div class="g font-control-label">
    Revision Status:
</div>
<div class="h">
    @Model.CurrentRevisionStatus
</div>
<div class="i font-control-label">
    Last Modified by:
</div>
<div class="j">
    @Model.User.UserName
</div>
<div class="k font-control-label">
    Last Modified on:
</div>
<div class="l">
    @Model.TextHeader.LastModified
</div>
<div class="m font-control-label">
    Last Read by:
</div>
<div class="n">
    @Model.User.UserName
</div>
<div class="o font-control-label">
    Last Read on:
</div>
<div class="p">
    @Model.TextHeader.LastRead
</div>

<div class="z title-box">
    <textarea rows="1" cols="100" readonly ="true">@Model.TextHeader.Title</textarea>
</div>

<div class="y editor">
    <textarea rows="30" cols="100" readonly="true">@Model.Text.TextBody</textarea>
</div>
</div>

@*<a href="/RhymeBinder/ListTexts?userID=@Model.User.UserId">Return to the list</a>*@

