
@{
    ViewData["Title"] = "View Text";
}
@model RhymeBinder.Models.DTOModels.TextEdit
@{
    string binderColorTag = "";
    if (!string.IsNullOrWhiteSpace(Model.BinderColor))
    {
        binderColorTag = $"background-color: {Model.BinderColor};";
    }
    string menuTextColorTag = $"color: {Model.DisplayTitleColor};";
    string styleTags = binderColorTag + menuTextColorTag;
}

@Html.Partial("_Alert")


<div class="editor-view-wrapper">
    
    <div class="menu-bar">


        <div class="menu-bar-main mobile-menu-bar-main">
            <div class="menu-bar-title menu-bar-title-mobile" style="@styleTags">@Model.BinderName</div>
          </div>

        <div class="menu-bar-escape mobile-menu-bar-escape">
            <div class="menu-bar-item-right-final">
                <a class="button menu-bar-button mobile-menu-bar-button-return" href="/RhymeBinder/ListTextsOnSessionStart?binderId=@Model.BinderId">Return</a>
            </div>
            @if(@Model.Locked == false)
            {
                <div class="menu-bar-item-right-final">
                    @if (Model.BinderReadOnly)
                    {
                        <a class="button menu-bar-button-disabled mobile-menu-bar-button-edit-disabled">Read Only</a>
                    }
                    else
                    {
                        <a class="button menu-bar-button mobile-menu-bar-button-edit" href="/RhymeBinder/EditText?textHeaderID=@Model.TextHeaderId">Edit</a>
                    }
                </div>               
            }
        </div>


    </div>

    <div class="title-bar">
        <textarea name="TextHeader.Title" class="title-box" id="title_edit_field" readonly>@Model.Title</textarea>
    </div>

    <div class="editor-container">
        <textarea name="Text.TextBody" class="editor-box" id="body_edit_field" readonly>@Model.TextBody</textarea>
    </div>
    <div class="ruler-container-a">
       
    </div>
    <div class="ruler-container-b">
       
    </div>



    <div class="left-sidebar">
        <div class="left-sidebar-item">Vision No. @Model.VisionNumber</div>
        <div class="left-sidebar-item">Created @Model.Created.Value.ToString("d") by @Model.CreatedByUserName</div>
        <div class="left-sidebar-item">Last Edited @Model.LastModified.Value.ToString("d") by @Model.LastModifiedByUserName</div>
        @if (Model.PreviousTexts.Count() > 0)
        {
            
            <div class="left-sidebar-item-heading" style="text-indent: 1em">Previous visions:</div>
            foreach (var prev in Model.PreviousTexts)
            {

                <div class="left-sidebar-item-heading">No. @prev.VisionNumber: @prev.Title</div>
                <div class="left-sidebar-item">Status: @prev.Status</div>
                <div class="left-sidebar-item">Created @prev.Created.Value.ToString("d") by @prev.CreatedBy</div>
                <div class="left-sidebar-item">Last Edited @prev.LastModified.Value.ToString("d") by @prev.LastModifiedBy</div>
            }
        }
    </div>


    <div class="right-sidebar">
        @if (Model.Groups.Count > 0)
        {
            <div class="right-sidebar-item-heading">Member of Groups:</div>
            @foreach(var group in Model.Groups)
            {
                @if(group.Selected == true)
                {
                    <div class="right-sidebar-item">@group.GroupTitle</div>
                }
            }
        }
        <div class="right-sidebar-item-heading">Notes:</div>
            <textarea name="Note" id="note_edit_field" class="editor-box">@Model.Note</textarea>

    </div>





</div>

@* Populate Drawers *@
@foreach (var prev in Model.PreviousTexts)
{
    <section class="drawer drawer--left" id="@prev.VisionNumber" data-drawer-target>
        <div class="drawer__wrapper">
            <div class="drawer__header">
                <div class="drawer__title">
                    @prev.Title (Vision No.: @prev.VisionNumber)
                </div>
                <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
            </div>
            <textarea class="drawer__content">
                @prev.TextBody
            </textarea>
        </div>
    </section>
}

<div id="textWidthSample" class="text-sample" z-axis="9998" hidden>X</div>


<br />







